{% extends "base.html" %}
{% load static %}
{% block form_head %}
<style>
.glow {
  font-size: 50px;
  color: #fff;
  text-align: left;
  font-family: cursive;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
</style>
{% endblock %}
{% block content %}
<div class="container my-auto transparent_class">
  <div class="row">
    <div class="col-3 order-12">
      <img src="{{ object.image.url }}" alt="Product Image" class="img-thumbnail">
    </div>
    <div class="col-8 order-1">
          <h2>NAME : {{ object.title|upper }}</h2><br>
          <h3>PRICE : ₹ {{ object.price }} </h3><br>
          <h3 class="glow">EXCLUSIVE</h3>
    </div>
  </div>
  <div class="row">
    <h4>{{"Desciption :-"|title}}</h4>
  </div>
  <div class="row">
    <pre class="text-justify" style="font-size: 25px; white-space: pre-wrap;">{{ object.description }}</pre>
  </div>
</div>
      <!-- <h2>{{"Featured Product"|title}}</h2> -->
{% endblock %}
